extends ../layout/layout

block title
  title #{tuser.name} - #{appName}

block content
  script.
    $(function () {
      userl.initProfile();
    });

  .section.page-title
    h1
      a(href='/' + encodeURIComponent(tuser.home)) #{tuser.name}

  .section
    if !gtUrl
      #profile-text.sub-section.box
        | !{jade.escape(tuser.profile).replace(/\n/g, "<br>")}

      if updatable
        .sub-section.box.top-links
          a(href='/users/' + tuser._id + '/update') Update Profile

  if images.length
    if locals.gtUrl
      .section.pager-prev
        a(href=gtUrl) Previous

    .section.images
      for image in images
        .image
          .img
            a(href='/images/' + image._id)
              img(src=image.dir + '/' + image._id + suffix)

    if locals.ltUrl
      .section.pager-next
        a(href=ltUrl) Next
