extends layout

block title
	title #{tuser.name} - #{appName}

block content
	script
		init.add(function () {
			userl.initProfile();
		});

	.section.page-title
		h1
			a(href='/' + encodeURIComponent(tuser.home)) #{tuser.name}

	.section
		if !gtUrl
			#profile-text.sub-section.card
				| !{jade.escape(tuser.profile).replace(/\n/g, "<br>")}

			if showBtns
				.sub-section.card.link-set
					a(href='/users/' + tuser._id + '/update') Update Profile

	if photos.length
		if locals.gtUrl
			.section.pager-prev
				a(href=gtUrl) Previous

		.section.photos
			for photo in photos
				.photo
					.img
						a(href='/photos/' + photo._id)
							img(src=photo.dir + '/' + photo._id + '-640.jpg')

		if locals.ltUrl
			.section.pager-next
				a(href=ltUrl) Next
