extends ../layout/layout

block head-title
  title #{appName}

block site-title

block content

  script.
    $(function() {
      imagel.initList();
    });

  .section.page-title
      h1
        a(href='/') #{appName}

  if !gt
    if locals.user
      .section.top-links
        a(href='/images/new') Upload
        a(href='/users/' + user._id) Profile
        a(href='#' onclick='javascript:userl.logout(); return false;') Logout
    else
      .section.top-links
        a(href='/users/login') Login
        a(href='/users/register') Register

    //- .section.news
        | Update: Can change user address at profile.

  if gt
    .section.pager-prev
      a(href=gt) Previous

  .section.image-list
    for image in images
      .box
        .image
          a(href='/images/' + image._id)
            img(src=image.dir + '/' + image._id + suffix)
        .uname
          a(href='/' + encodeURIComponent(image.user.home)) #{image.user.name}

  if lt
    .section.pager-next
      a(href=lt) Next
