extends ../layout/layout

block head-title
  if svg
    meta(property='og:image', content=image.dir + '/' + image._id + '-org.svg')
  else
    meta(property='og:image', content=image.dir + '/' + image._id + '-1440.jpg')
  meta(property='og:title' content='Image ' + image._id)
  meta(property='og:description' content=image.comment)
  title Image !{image._id} - #{appName}

block site-title

block content

  script.
    $(function() {
      imagel.initView(!{JSON.stringify(image)});
    });

  .image-view
    if svg
      img(src=image.dir + '/' + image._id + '-org.svg')
    else
      img(style='background: url(' + image.dir + '/' + image._id + '-640.jpg); background-size: cover;')

  .section.image-info
    .sub-section(style='display: none')
      a#fs(href='')
        span.glyphicon.glyphicon-fullscreen

    .sub-section
      .uname
        a(href='/' + encodeURIComponent(image.user.home)) #{image.user.name}
      .comment !{jade.escape(image.comment).replace(/\n/g, '<br>')}
      .cdate !{image.cdateStr.slice(0,16)}
      .fname #{image.fname}

    if updatable
      .sub-section
        .commands
          button#update-btn.btn.btn-success.btn-xs Update
          button#del-btn.btn.btn-danger.btn-xs Delete
          button#del-confirm-btn.btn.btn-danger.btn-xs.hide Yes, Delete
