extends ../layout/layout

block title
  title #{appName}

block content

  .site-title
    h1
      a(href="/") #{appName}
    .desc #{appDesc}

  if !gtUrl
    if locals.user
      .top-links
        a(href="/images/new") Upload
        a(href="/users/" + user._id) Profile
        a#logout-btn(href="/users/logout") Logout
    else
      .top-links
        a(href="/users/login") Login
        a(href="/users/register") Register

    //-.news
        | Update: Can change user address at profile.

  if locals.gtUrl
    .pager-prev
      a(href=gtUrl) Previous

  .images
    for image in images
      .card
        .image
          a(href='/images/' + image._id)
            img(src=image.dir + '/' + image._id + suffix)
        if showName
          .uname
            a(href='/' + encodeURIComponent(image.user.home)) #{image.user.name}

  if locals.ltUrl
    .pager-next
      a(href=ltUrl) Next

