extends ../layout/layout

block title
	title Update Profile - #{appName}

block content
	script.
		init.add(function () {
			userl.initUpdateProfileForm();
		});

	.side-space
		.section.page-title
			h1 Update Profile

		form#form.section
			.sub-section
				.form-row
					label.control-label Name
					input.input-with-feedback(name="name", type="text", maxlength=32, value=tuser.name)
				.form-row
					label#domain-url.control-label
					input.input-with-feedback(name="home", type="text", maxlength=32, value=tuser.home)
				.form-row
					label.control-label Email
					input.input-with-feedback(name="email", type="text", maxlength=64, value=tuser.email)
				.form-row
					label.control-label Password
					input.input-with-feedback(name="password", type="password", maxlength=64)
				.form-row
					label.control-label Profile
					textarea(name="profile", rows=5) #{tuser.profile}
			.sub-section
				.send-panel
					button.btn.btn-primary(name='send') Send
				.sending-panel.hide
					button.btn.btn-default.disabled(name='sending') Sending
