doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content=appDesc)
    meta(property='og:site_name', content=appName)
    block head-title

    link(rel='icon', type='image/png', href='/modules/favicon/' + appNamel + '.png')

    link(rel='stylesheet', href='/modules/bower/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/modules/css/base.css')
    link(rel='stylesheet', href='/modules/css/' + appNamel + '.css')

    script(src='/modules/bower/json2/json2.js')
    script(src='/modules/bower/jquery/dist/jquery.min.js')
    script(src='/modules/bower/bootstrap/dist/js/bootstrap.min.js')
    
    script.
      window.appNamel = '!{appNamel}';
      window.user = !{locals.user ? JSON.stringify({ id: user._id, name: user.name }) : 'undefined'};

    script(src='/modules/js/base.js')
    script(src='/modules/js/user.js')
    script(src='/modules/js/image.js')

  body

    block site-title
      .section.site-title
        a(href='/') #{appName}

    block content

    .section.page-footer
      ul.list-inline
        li: a(href='/about/company') Company
        li: a(href='/about/privacy') Privacy
        li: a(href='/about/help') Help

    #error-modal.modal
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title
          .modal-body
          .modal-footer
            button.btn.btn-default(data-dismiss='modal') Close
    
