extends layout

block title
	title Error - #{appName}

block content

	.side-space
		.page-header
			h2 Error

		if !locals.err
			h4 'err' is not defined
		else
			if err.rc
				h4 #{err.message}
				pre.error-report.
					#{'Code: ' + err.rc}<br>
					!{err.stack.replace(/\n/g, '<br>')}
			else if err.message
				h4 #{err.message}
			else
				h4 Unknown Error