extends layout

block title
	title #{appName}

block content

	.side-space
		if firstPage
			.jumbotron
				h1 Rapixel
				p 4K Images

	.photos
		for photo in photos
			.photo
				.img
					a(href='/photos/' + photo._id)
						img(src=photo.dir + '/' + photo._id + '-320.jpg')
				.info
					span
						a(href='/' + photo.user.name) #{photo.user.name}
					span hit !{photo.hit}
					span !{photo.cdateStr}
	.side-space
		include pager

