extends layout

block title
	title Photo/!{photo._id} - #{siteTitle}

block content
	script
		init.add(function() {
			photo.showPhoto(!{JSON.stringify(photo)});
		});

	.photo

	ul.list-unstyled
		li #{photo.user.name}
		li !{photo.cdateStr}
		li hit !{photo.hit}
	p #{photo.comment}

	hr
	if locals.user && photo.user._id == user._id
		button.btn.btn-danger(onclick='photo.delPhoto(' + photo._id + '); return false;') Delete Photo

	hr
	a(href="/") Home