extends layout

block title
	title #{appName}

block content

	.section.page-title.site-title
		h1
			a(href="/") #{appName}
		p 4K Images

	if !gtUrl
		if locals.user
			.section.card.link-set
				a(href="/photos/new") Upload
				a(href="/users/" + user._id) Profile
				a#logout-btn(href="/users/logout") Logout
		else
			.section.card.link-set
				a(href="/users/login") Login
				a(href="/users/register") Register

		.section.update
			.card
				| Update: Can change user address at profile.

	if locals.gtUrl
		.section.pager-prev
			a(href=gtUrl) Previous

	.section.photos
		for photo in photos
			.photo
				.img
					a(href='/photos/' + photo._id)
						img(src=photo.dir + '/' + photo._id + '-640.jpg')
				.info
					span
						a(href='/' + encodeURIComponent(photo.user.home)) #{photo.user.name}

	if locals.ltUrl
		.section.pager-next
			a(href=ltUrl) Next

