extends layout

block title
	title Photos - #{appName}

block content
	script
		init.add(function () {
			userl.initProfile();
		});

	.page-header
		h1
			a(href='/' + encodeURIComponent(tuser.name)) #{tuser.name}

	if !gtUrl
		p#profile-text.card.profile
			| !{jade.escape(tuser.profile).replace(/\n/g, "<br>")}

		if showBtns
			p.card.link-set.top-space
				a(href='/users/' + tuser._id + '/update') Update Profile

	if photos.length
		if locals.gtUrl
			.pager-prev
				a(href=gtUrl) Previous

		.photos
			for photo in photos
				.photo
					.img
						a(href='/photos/' + photo._id)
							img(src=photo.dir + '/' + photo._id + '-640.jpg')
					//-.info
						span
							a(href='/' + encodeURIComponent(tuser.name)) #{tuser.name}
						//-span hit !{photo.hit}
						//-span !{photo.cdateStr}

		if locals.ltUrl
			.pager-next
				a(href=ltUrl) Next
