extends layout

block title
	title Photos - #{appName}

block content
	script
		init.add(function () {
			userl.initProfile();
		});

	.side-space
		if firstPage
			.page-header
				h1 #{tuser.name}

			p#profile-text.card
				| !{jade.escape(tuser.profile).replace(/\n/g, "<br>")}

			if showBtns
				.btns
					a.btn.btn-mini.btn-primary(href='/users/' + tuser._id + '/edit') Edit Profile

	if photos.length
		.photos
			for photo in photos
				.photo
					.img
						a(href='/photos/' + photo._id)
							img(src=photo.dir + '/' + photo._id + '-640.jpg')
					.info
						span
							a(href='/' + tuser.name) #{tuser.name}
						span hit !{photo.hit}
						span !{photo.cdateStr}

		.side-space
			include pager
